@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* CSS değişkenleri */
:root {
  --main-color: #e84342;
  --black-color: #121212;
  --border: 10px solid rgba(255, 255, 255, 0.4); /* 1 rem = 16px */
}

/* tüm html etiketleri için */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: auto;
  transition: 0.2s ease; /* geçiş süresi */
}

header a {
  color: #eee;
  margin-right: 40px;
}

/* base html codes */
html {
  overflow: auto; /* sayfanın yana taşmasını engeller */
  scroll-padding-top: 90px;
  scroll-behavior: smooth; /* kaydırma davranışı */
}

body {
  background-image: url("https://www.malatyadan.com/images/haberler/2024/05/kotu-amacli-mobil-bankacilik-yazilimlari-kuresel-capta-buyuyecek-1715072353.webp");
  background-size: cover;
  justify-content: center;
}

/* header start */
.header {
  background-color: #fff;
  display: flex; /* yan yana dizer */
  align-items: center;
  justify-content: space-between; /* hizalamak için */
  padding: 30px 7%;
  margin: 20px 7%;
  border-radius: 30px;
  box-shadow: 0px 0px 17px -2px rgb(0, 0, 0, 0.75);
  position: sticky; /* kaydırma olsa dahi ekranda görünür */
  top: 0;
  z-index: 1000; /* her zaman önde görünmesi için */
}

.header .navbar a {
  margin: 0 10px;
  font-size: 16px;
  color: var(--black-color);
  border-bottom: 1px solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {
  border-color: var(--main-color);
  padding-bottom: 5px;
}

/* header end */

/* home section start */
.home {
  min-height: 40vh; /* ekranın görünfüğü yer kadar alan kaplar */
  display: flex;
  justify-content: center;
}

.home .content {
  max-width: 1100px; /* yazının kaplayacağı alan */
  padding-left: 10%;
}

.home .content h3 {
  margin-top: 7%;
  font-size: 60px;
  color: #fff;
  margin-right: 20%;
}

.home .content p {
  font-size: 19px;
  text-transform: initial;
  color: #fff;
  line-height: normal; /* satır arası boşluk */
}

/* home section end */

/* responsive start */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 15px 20px;
  }

  .header .navbar a {
    margin-right: 15px;
    font-size: 14px;
  }

  section {
    padding: 20px;
  }

  .home {
    flex-direction: column;
    margin: 3% 5%;
  }

  .home .content {
    max-width: 100%;
    padding-left: 0;
  }

  .home .content h3 {
    font-size: 50px;
    margin-top: 5%;
    margin-right: 0;
  }

  .home .content p {
    font-size: 16px;
  }
}
/* responsive end */
